PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.doinzi5.mongodb.net/vintage-hour?retryWrites=true&w=majority
MONGO_DB_NAME=vintage-hour
JWT_SECRET=replace_this_with_a_secure_secret
ADMIN_SECRET=replace_this_with_admin_secret
CLIENT_URL=http://127.0.0.1:5173
CLIENT_URLS=https://your-frontend.onrender.com
UPI_ID=7012727128@superyes
UPI_PAYEE_NAME=Vintage Hour
NODE_ENV=development
